<!DOCTYPE html>
<html>
    <head>
        <title>Prosa</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog de Ale Ale Ale</a></h1>
        </header>

        <article>
            <time>published: 15.07.2021, 12:14</time>
            <h2><a href="">Prosa</a></h2>
            <p>Crece la aversión,<br>
nacen los temores<br>
y se me hiela la sangre.<br>
Ya nos es fácil engañarme a mi mismo.<br>
Saber de los grandes me ha hecho pequeño.<br>
Aprender me ha llevado a ser más minucioso,<br>
quisquilloso.<br>
Y mi retórica me parece cada vez más infantil,<br>
sin sentido.<br>
Ahora lo inútil se muestra flagrante,<br>
la lucidez parece acotada.<br>
La carga se ha vuelto pesada,<br>
insostenible.<br>
El fin único languidece a lo lejos,<br>
y el oprobio parece inminente.<br>
<br>
Y,<br>
sin embargo,<br>
no claudico.<br>
No, porque sé que la conciencia me lo reprenderá.<br>
No, porque viviré cautivo en añoranzas.<br>
Mataré mis quimeras<br>
y seré una mente libre.<br>
No hay preceptos que me limiten,<br>
no hay Ente que me detenga.<br>
El fin único debe prevalecer.<br>
Soslayar es inconcebible.<br>
Franquear imprescindible.<br>
</p>
        </article>
    </body>
</html>
